body {
    background: url(../img/fundo.png) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


.cabecalho {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.logo-name {
    width: 50%;
    height: 100%;
}

.logo-name .logo {
    display: flex;
    height: 30%;
    margin: 70px;
    justify-content: center;
    align-items: center;
}

.logo-name .name {
    display: flex;
    font-size: 10rem;
    font-weight: 300;
    width: 55rem;
    height: 30%;
    color: #fff;
    margin: 15rem 25rem;

}

.menu-form {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    font-size: 4rem;
    margin-right: 30rem;
}

.menu-form .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 7rem;
    margin-bottom: 15rem;
}

.menu-form .menu li {
    padding: 10px 5px;
}

.menu-form .menu li a {
    color: #fff;
    transition: 0.2s;
}

.menu-form .menu li a:hover {
    background-color: #F1B2B2;
    padding: 15px;
    border-radius: 50px;
}



.menu-para-hamburguer nav {
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

nav label {
    display: flex;
    flex-direction: column;
}

.hamburguer {
    background-color: #fff;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;


}

.hamburguer:before,
.hamburguer:after {
    background-color: #fff;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

#menu-hamburguer,
.hamburguer {
    display: none;
}



.menu-form .form {
    width: 450px;
    height: 550px;
    background-color: #fff;
    border-radius: 50px;
}

input:checked~label .hamburguer {
    transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.form {
    padding: 5rem;
}

.form .junte-se {
    font-size: 2.5rem;
    margin: 0.5rem 0.5rem 7rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form label {
    font-size: 3rem;
}

.form input {
    font-size: 2rem;
    width: 100%;
    height: 40px;
    border-color: #D9D9D9;
    border-style: groove;
}


/*botao uiverse.io*/
.cta {
    border: none;
    background: none;
    margin-left: 90px;
    margin-top: 50px;
    text-align: center;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 3rem;
    padding-right: 15px;

}


.livros {
    margin-top: 45rem;
}

.livros .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    margin: 10rem;
    color: #F1B2B2;
}

#titulo2 {
    margin-bottom: 0;
    margin-left: 50rem;
}

.livros .imagem-livraria {
    width: 30%;
    height: 20%;
    margin-left: 5rem;
}

.livros-com-imagem-livaria {
    display: flex;
}

.livros .livros-da-semana {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 6rem;
}

.livros .livros-nacionais {
    display: flex;
    align-items: center;
}

.livros-da-semana img {
    height: 280px;
    width: 200px;
    margin-right: 25px;
    border-radius: 3px;
}

.livros-da-semana img:hover {
    opacity: 0.5;
    padding: 1rem;
    transition: 0.2s;
}

.livros-nacionais img {
    height: 280px;
    width: 200px;
    margin-right: 25px;
    border-radius: 3px;
}

.livros-nacionais img:hover {
    opacity: 0.5;
    padding: 1rem;
    transition: 0.2s;
}

.footer {
    height: 15%;
    padding: 6rem;
    background-color: #F1B2B2;
}

.footer .footer-titulo {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 300;
    color: #45496A;
}

@media(max-width:480px) {

    body {
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }

    .logo-name .logo {
        width: 5rem;
        height: 5rem;
        margin: 30px 20px;
    }

    .logo-name .name {
        display: flex;
        margin-left: 9rem;
        font-size: 40px;
        color: #fff;
        width: 3rem;
        text-align: left;
        margin-top: 10rem;
    }

    .menu-form {
        display: flex;
        justify-content: left;
    }


    .menu-form nav {
        position: absolute;
        top: 15px;
        right: 0;
        z-index: 1;
        width: 18rem;
    }

    .menu-form nav ul li {
        display: none;
        width: 10rem;
    }

    .menu-form ul {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        background-color: #F1B2B2;
        border-radius: 20px;
        float: right;

    }

    .menu-form .menu {
        margin: 50px 5px 5px 5px;
        position: relative;
        left: -20px;

    }

    .menu-form nav ul a {
        text-align: left;
        padding: 15px 15px;
        display: block;
    }

    nav input:checked~ul li {
        display: block;

    }

    .hamburguer {
        display: block;
        margin-top: 10px;
        left: 130px;
    }


    .menu-form .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 19rem;
        height: 50%;
        width: 110%;
        margin-top: 50rem;
        border-radius: 0;
        padding: 80px;
    }

    button span {
        text-align: center;
        margin-right: 80px;
    }

    .form .junte-se {
        padding: 10px;
        margin-top: 60px;
        font-size: 20px;
    }

    .form .input {
        font-size: 5px;
    }

    .livros {
        margin-top: 35rem;
    }

    .livros .titulo {
        font-size: 30px;
        width: 100%;
        margin: 15rem 1rem;
    }

    #titulo2 {
        margin: 15rem 1rem;
    }

    .livros .imagem-livraria {
        display: none;
    }

    .livros .livros-nacionais {
        margin-bottom: 20rem;
    }

    .footer{
        padding: 3.5rem;
    }
    .footer .footer-titulo {
        font-size: 2rem;
        text-align: center;
    }
}